<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Users' NID</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>NID Number</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Date Of Birth</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nid of NIDs | async">
                    <td>{{nid.userID}}</td>
                    <td>{{nid.name}}</td>
                    <td>{{nid.idN}}</td>
                    <td>{{nid.fatherName}}</td>
                    <td>{{nid.motherName}}</td>
                    <td>{{nid.dateOfBirth}}</td>
                    <td><button (click)="deleteNid(nid.id)">Delete</button>
                        <button (click)="gotoNidUpload('/post',nid.id)">Upload NID</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>